*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ensures navbar remains at the top as a user scrolls through a page with a lot
of content, works together with .App styling of height 100%*/
nav{
    position: sticky;
    top: 0;
}

nav ul{
    display: flex;
    list-style: none;
    background-color: grey;
    padding: 1rem;
    box-shadow: 2px 2px 10px lightskyblue;
    justify-content: right;
    
}
nav ul li{
    margin:0 1rem;
    font-size: 1.9rem;
    color: maroon;
}
a{
    text-decoration: none;
}
.active{
    background-color: rgb(13, 246, 246)
}
