*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#reviews{
    background-color: beige;
    height: 100vh;
    text-align: center;
    
}

#reviews h2{
    color: rgb(232, 40, 123);
    margin-bottom: 20px auto;
    font-style: italic;
}

#reviews h3{
    margin-bottom: 40px auto;
    margin-top: 20px;
}

.review-list{
    font-style: italic;
    color: rgb(127, 127, 221);
}
